

.item__group {
    width: 100%;
    margin-top: 50px;
}

.item__container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.gr__img {
    width: 55%;
}

.gr__img-it {
    width: 100%;
}

.gr__item {
    width: 42%;
    display: flex;
    flex-direction: column;
}

.item__title {
    font-size: 22px;
    line-height: 30px;
    color:#212020;
    font-weight: 400;
}

.it__price {
    color:#4c4b4b;
    margin: 30px 0;
}

.it__select {
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.it__select:focus {
    outline: none;
}

.it__op {
    font-size: 14px;
}

.gr__div {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 30px;
    border-radius: 5px;
}

.div__img {
    width: 50%;
}

.div__img-it {
    width: 50%;
}

.div__title {
    display: flex;
    flex-direction: column;
}

.title__txt {
    font-size: 14px;
    line-height: 20px;
}

.div__last-link {
    font-size: 14px;
    line-height: 20px;
    color: #212020;
}

.txt__title {
    margin: 10px 0;
}

.gr__number {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.num-sl {
    width: 15%;
}

.gr__add-btn {
    text-decoration: none;
    margin: 0 25px;
    padding: 15px 35px;
    border-radius: 5px;
    color: #fff;
    background-color:#f15a29;
}

.gr__add-btn:hover {
    background-color: #f47f59;
    transition: ease .4s;
}

.size__charts {
    color: #212020;
    font-size: 15px;
}

.div__txt1 {
    margin-top: 30px;
}

.txt__top {
    font-size: 13px;
    color: #ccc;
}

.txt__top-title {
    margin: 30px 0;
}

.txt__top-title1 {
    font-size: 15px;
    line-height: 40px;
    color: #4c4b4b;
}

.gr__img-mini {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gr__mini {
    width: 18%;
}

.gr__mini:hover {
    transform: scale(1.05);
    z-index: 10;
    cursor: pointer;
}

.shipping {
    width: 100%;
}

.btn-shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
}

.shipping__text {
    font-size: 13px;
    font-weight: 600;
    color: #212020;
}

.gr__share {
    margin-top: 30px;
    font-weight: 600;
    color: #212020;
}

.icon {
    margin-left: 15px;
}

/* Like ? */

.like {
    width: 100%;
    margin-top: 100px;
}

.like-container {
    width: 90%;
    margin: auto;
}

.like__header {
    text-align: center;
}

.like__txt-title {
    text-align: center;
    color: #232323;
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
}

.like__price {
    font-weight: 600;
    color: #212020;
    font-size: 18px;
}